<ion-view title="Categories" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="categories-list9">
      <ion-item class="item-divider" id="categories-list-item-divider5"> A</ion-item>
      <label class="item item-input" id="categories-textarea7">
        <span class="input-label">Animals</span><textarea placeholder="">A day in the life of an animal of your choosing.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider6"> B</ion-item>
      <label class="item item-input" id="categories-textarea2">
        <span class="input-label">Book Related</span><textarea placeholder="">Write a short poem that sums up a good story.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider7"> C</ion-item>
      <label class="item item-input" id="categories-textarea3">
        <span class="input-label">Carnival</span><textarea placeholder="">A real or make-believe experience at a carnival.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider8"> D</ion-item>
      <label class="item item-input" id="categories-textarea4">
        <span class="input-label">Day in the life</span><textarea placeholder="">Your daily routines or habits.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider9"> E</ion-item>
      <label class="item item-input" id="categories-textarea6">
        <span class="input-label">Eco-Friendly</span><textarea placeholder="">Write about an enviornmental concern you have</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider10"> F</ion-item>
      <label class="item item-input" id="categories-textarea8">
        <span class="input-label">Future</span><textarea placeholder="">Write about what you expect the future will be like in x years.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider11"> G</ion-item>
      <label class="item item-input" id="categories-textarea9">
        <span class="input-label">Grocery Store</span><textarea placeholder="">An interesting experience you've had at the store.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider12"> H</ion-item>
      <label class="item item-input" id="categories-textarea10">
        <span class="input-label">Hiding Spot</span><textarea placeholder="">Write about a favorite hiding spot you had as a child.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider13"> I</ion-item>
      <label class="item item-input" id="categories-textarea11">
        <span class="input-label">Invisible</span><textarea placeholder="">You are invisible for a day... What do you do?</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider14"> J</ion-item>
      <label class="item item-input" id="categories-textarea12">
        <span class="input-label">Jungle</span><textarea placeholder="">Write about exploring a jungle of your choosing.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider15"> K</ion-item>
      <label class="item item-input" id="categories-textarea13">
        <span class="input-label">King</span><textarea placeholder="">You are the king of some country for a day. What happens?</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider16"> L</ion-item>
      <label class="item item-input" id="categories-textarea14">
        <span class="input-label">Last</span><textarea placeholder="">You are now the last person on Earth...</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider17"> M</ion-item>
      <label class="item item-input" id="categories-textarea15">
        <span class="input-label">Magic</span><textarea placeholder="">You have magical powers now. How do you use them?</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider18"> N</ion-item>
      <label class="item item-input" id="categories-textarea16">
        <span class="input-label">Nature</span><textarea placeholder="">Write about some element in nature that interests you.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider19"> O</ion-item>
      <label class="item item-input" id="categories-textarea17">
        <span class="input-label">Online</span><textarea placeholder="">Your experiences, good or bad, while online or in a video game.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider20"> P</ion-item>
      <label class="item item-input" id="categories-textarea18">
        <span class="input-label">Party</span><textarea placeholder="">You can throw any type of party you want. What happens?</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider21"> Q</ion-item>
      <label class="item item-input" id="categories-textarea19">
        <span class="input-label">Quiet</span><textarea placeholder="">You can sit and enjoy the quiet for a day. Where would you be?</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider22"> R</ion-item>
      <label class="item item-input" id="categories-textarea20">
        <span class="input-label">Robot</span><textarea placeholder="">Write about a robot that you have created. What can it do?</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider23"> S</ion-item>
      <label class="item item-input" id="categories-textarea21">
        <span class="input-label">Storm</span><textarea placeholder="">A major storm is here. Where are you and what happens?</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider24"> T</ion-item>
      <label class="item item-input" id="categories-textarea22">
        <span class="input-label">Trash</span><textarea placeholder="">You are a garbage collector for a day. What items do you find?</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider25"> U</ion-item>
      <label class="item item-input" id="categories-textarea23">
        <span class="input-label">Underwater</span><textarea placeholder="">Write about some creature or form of life in the ocean.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider26"> V</ion-item>
      <label class="item item-input" id="categories-textarea24">
        <span class="input-label">Volcano</span><textarea placeholder="">A volcano has just erupted. How are you going to get away?</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider27"> W</ion-item>
      <label class="item item-input" id="categories-textarea25">
        <span class="input-label">Water</span><textarea placeholder="">A day enjoying any water related destination of your choosing.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider28"> X</ion-item>
      <ion-item class="item-divider" id="categories-list-item-divider29"> Y</ion-item>
      <label class="item item-input" id="categories-textarea27">
        <span class="input-label">Yesterday</span><textarea placeholder="">Write about what you did the previous day.</textarea></label>
      <ion-item class="item-divider" id="categories-list-item-divider30"> Z</ion-item>
      <label class="item item-input" id="categories-textarea28">
        <span class="input-label">Zoo</span><textarea placeholder="">You are visiting a zoo of your choice. What happens?</textarea></label>
    </ion-list>
  </ion-content>
</ion-view>