<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#1B1A1A;font-style:italic;">PromptGen</h1>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">PromptGen is a new, easy to use writing prompt generator that will give you easy access to fun and interesting writing ideas!</p>
    </div>
    <h2 id="home-heading3" style="color:#000000;font-weight:400;">Daily Writing Prompt</h2>
    <div id="home-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Future - Write about what you expect the future will be like in x years.</p>
    </div>
  </ion-content>
</ion-view>